<div>
  <table>
    <tr>
      <td>
        x
      </td>
      <td>
        <div>
          <span>
            User name
          </span>
          <span>
            Number of posts: x
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        x
      </td>
      <td>
        <div>
          <span>
            User name
          </span>
          <span>
            Number of posts: x
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        x
      </td>
      <td>
        <div>
          <span>
            User name
          </span>
          <span>
            Number of posts: x
          </span>
        </div>
      </td>
    </tr>
  </table>
</div>