<section>
  <div class="users-list">
    <%= render @user %>
  </div>
  <div style="padding: 0 24px">
    <div class="user-bio">
      <h2>Bio</h2>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div class="users-posts">
    <%= render partial: 'posts/post', collection: @last_posts %>
  </div>
  <div style="text-align: center; padding-bottom: 24px">
    <%= link_to 'See all posts', user_posts_path(@user), class: 'button' %>
  </div>
</section>
