<div class="posts-list-post">
  <h3><%= post.title %></h3>
  <p><%= post.text %></p>
  <div style="text-align: end">
    <small>
      Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %>
      , Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %>
    </small>
  </div>
</div>