<section>
  <div class="users-list">
    <%= render @user %>
  </div>
  <div class="users-posts">
    <% @posts.each do |post| %>
      <div class="post">
        <%= render post %>
        <%= render partial: 'comments', object: post.last_five_comments %>
      </div>
    <% end %>
  </div>
</section>
