<table>
  <tr>
    <td>
      x
    </td>
    <td>
      <div>
        <span>
          User name
        </span>
        <span>
          Number of posts: x
        </span>
      </div>
    </td>
  </tr>
</table>
<div>
  <p>
    Post #1
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget justo fringilla, pulvinar sem quis, lacinia mi. Aenean ac turpis id lorem pretium posuere. Cras quis metus ut lectus commodo congue. Duis maximus vel sem et porttitor. Sed posuere dui eu hendrerit vehicula. Cras finibus elit vitae elementum laoreet. Suspendisse tristique nec mi eget consectetur. 
  </p>
</div>
<div>
  <p>
    Username: Comment1
  </p>
  <p>
    Username: Comment2
  </p>
  <p>
    Username: Comment3
  </p>
</div>
<div>
  <p>
    Post #2
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget justo fringilla, pulvinar sem quis, lacinia mi. Aenean ac turpis id lorem pretium posuere. Cras quis metus ut lectus commodo congue. Duis maximus vel sem et porttitor. Sed posuere dui eu hendrerit vehicula. Cras finibus elit vitae elementum laoreet. Suspendisse tristique nec mi eget consectetur. 
  </p>
</div>
<div>
  <p>
    Username: Comment1
  </p>
  <p>
    Username: Comment2
  </p>
  <p>
    Username: Comment3
  </p>
</div>
